<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-light bg-light static-top">
            <div class="container">
                <a href="{% url 'chatroom-home' %}" class="navbar-brand">
                    <img src="https://i.ibb.co/gVdkBn8/logo.png" width="70" height="70" class="mr-2" alt="logo" />
                    Ala-Too Chatroom
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarToggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a href="{% url 'chatroom-home' %}" class="nav-item nav-link">Home</a>
                    </div>
                    <div class="navbar-nav">
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="nav-item nav-link">Log Out</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link">Log In</a>
                            <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="mt-2 alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <p class="mt-2">This is a chatroom, where you can register, log in, send a message, then log back out if you want to. As simple as it sounds</p>
            </div>
            <div class="col-md-8 mt-20">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>